.breadcrumbs-wrap {
	.breadcrumb {
		background-color: #FFF;
		margin:0;
		padding: 15px;
		text-transform: capitalize;
	}
	li {
		font-size: 16px;
		line-height: 32px;
		font-family: "Myriad Pro";
		font-weight: 300;
		a {
			color: #444343;
		}
		.active {
			font-weight: 700;
		}
	}
}
