.album-list-page {
	.text-list {
		ul {
			li {
				float:left;
				padding: 10px 20px;
				a {
					font-size: 14px;
					line-height: 19px;
					text-transform: uppercase;
					color: #949191;
					font-weight: 400;
				}
				&.active {
					background-color: #a9a9a9;
					a {
						color:white;
					}
				}
			}
		}
	}

	.image-list {
		padding: 35px 0;
		.album-item {
			padding: 1px;
			img {
				width:260px;
				height:260px;
			}
		}
	}
}

.slider-block {
	position:relative;
	.back-gallery-btn {
		position:absolute;
		top:-35px;
		right:-90px;
		display:block;
		font-size: 	22px;
		background-color: white;
		p {
			display:block;
			margin-left:5px;
			margin-top: 0px;
			font-size:22px;
			padding:0;
			float:right;
		}	
	}
	#slider.flexslider {
		box-shadow: 0 0 9.8px 0.2px rgba(31, 31, 30, 0.46);
    	border: 12px solid #fff;
	    border-radius: 3px;
	    .flex-direction-nav {
	    	display:none;
	    	a {
	    		margin:-20px 0 0;
	    	}
	    }
	}
	#carousel.flexslider {
		border-right: 40px solid #f2f3f4;
		border-left: 40px solid #f2f3f4;
		padding: 10px;
		background-color: #f2f3f4;
	    .flex-direction-nav {
	    	a {
	    		margin:-34px -40px 0;
	    	}
	    }
	}
}